.container {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 40px;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.info {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.info h1 {
  font-size: 3.5rem;
}

.info p {
  font-size: 1rem;
  opacity: .8;
  width: 75%;
}

.info h1 span {
  color: #00FFFF;
}

.url {
  width: auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.url input {
  width: 550px;
  height: 70%;
  padding: 20px 150px 20px 20px;
  border: 2px solid #00FFFF;
  border-radius: 8px;
  font-size: 20px;
}

.url button {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translate(0, -50%);
  width: 110px;
  height: 45px;
  background-color: #00FFFF;
  border: 0;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  -webkit-box-shadow: 0px 0px 8px 4px #00FFFF; 
  box-shadow: 0px 0px 20px 1px #00FFFF;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .info h1 {
    font-size: 1.7rem;
  }

  .info p {
    font-size: 1rem;
  }
  .url {
    width: 100%;
  }

  .url input {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .container {
    width: 100%;
  }
  .info h1 {
    font-size: 1.5rem;
  }

  .info p {
    font-size: .9rem;
  }
  .url {
    width: 100%;
  }

  .url input {
    width: 100%;
  }
}